* {
    font-family: Tahoma;
}

.section-title {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 71px;
    margin-bottom: 67px;
}

.advantage {
    text-align: center;
}

.advantage-block__img{
    min-height: 80px;
    margin-top: 15px;
    margin-bottom: 5px;
}

.advantage-block__text {
    font-size: 16px;
    font-weight: 700;
}
