* {
    box-sizing: border-box;
}

.box {
    display: block;
    /* ширина */
    width: 300px;
    /* высота */
    height: 300px;
    /* фоновый цвет */
    background-color: green;
    /* внутренние отступы */
    padding: 10px 20px;
    /* рамка */
    border: solid 5px black;
    /* внешние отступы */
    margin: 10px;
}

.link {
    background-color: grey;
    padding: 10px;
}

button {
    display: block;
    height: 40px;
    width: 300px;
    margin-top: 20px;
}