.section
    &-title
        font-size: 27px
        font-weight: 700
        text-transform: uppercase
        text-align: center
        margin-bottom: 29px
        &::after
            content: ''
            margin-top: 12px
            display: block
            height: 8px
            background: url(../img/icon-products.png) center no-repeat
            background-size: 46px 40px

.button
    font-size: 14px
    background-color: $active-color
    border: 1px solid transparent
    color: $text-color-light
    padding: 13px 22px
    border-radius: 5px
    &_big
        border-bottom: 19px
        vertical-align: middle
        width: 30%
    &:hover 
        background-color: lighten($active-color, 10)
        cursor: pointer
    &-o
        background-color: transparent
        color: $text-color-dark
        border: 1px solid rgba(#373737, 0.5)
        &:hover 
            background-color: lighten($active-color, 10)
            color: $text-color-light
            border: 1px solid transparent
            cursor: pointer
img
    vertical-align: middle