.main-slider
    margin: auto auto

.main-slider-block 
    padding-bottom: 67px
    position: relative
    &__img
        z-index: 0
    img
        padding-top: 25px
        margin-left: 26%
    &::before
        content: ''
        position: absolute
        width: 8px
        height: 8px
        margin-left: 78px
        margin-top: 58px
        box-shadow: 0 0 35px 10px #ffffff
        z-index: -1

.slider-arrow
    position: absolute
    top: 0
    height: 75%
    width: 13px
    z-index: 7
    &:hover
        cursor: pointer
    &_left
        left: 0
        background: url(../img/main/arrow-left.png) center no-repeat
        &:hover
            background: url(../img/main/arrow-left_hover.png) center no-repeat
    &_right
        right: 0
        background: url(../img/main/arrow-right.png) center no-repeat
        &:hover
            background: url(../img/main/arrow-right_hover.png) center no-repeat

.slider-arrow-reviews
    position: absolute
    top: 0
    height: 70%
    width: 19px
    z-index: 7
    &:hover
        cursor: pointer
    &_left
        left: 0
        background: url(../img/reviews/arrow-left_active.png) center no-repeat
        &:hover
            background: url(../img/reviews/arrow-left.png) center no-repeat
    &_right
        right: 0
        background: url(../img/reviews/arrow-right_active.png) center no-repeat
        &:hover
            background: url(../img/reviews/arrow-right.png) center no-repeat
.dark-bg
    position: relative
    z-index: 2
    &::before
        content: ''
        display: block
        position: absolute
        left: 0
        top: 0
        width: 100%
        height: 100%
        background-color: rgba(0,0,0,0.6)
        z-index: -1

.is-open
    display: block
    transition: all 2s linear

.is-close
    display: none

a
    text-decoration: none
    color: $text-color
