.menu
    display: flex
    justify-content: center
    background-color: $text-color-dark
    position: sticky
    top: 0
    z-index: 100
    width: 100%
    height: 100%
    &-list
        ul
            display: flex
            justify-content: center
            padding: 0
            margin: 12px
        li
            list-style-type: none
            margin-left: 2.8%
            flex-basis: auto
            align-items: center
            white-space: nowrap
            &:not(:last-child)
                border-right: 1px solid #cfcfd042
                border-right-style: dotted
                padding-right: 2.8%
            &:first-child
                margin-left: 0
        a
            display: block
            margin-top: 0
            font-size: 12px
            line-height: 21px
            text-transform: uppercase
            color: $text-color-light
            text-decoration: none
            transition: all 0.2s

@media (max-width: 767.98px)
    //Отключаем вертикальное меню, включаем мобильное!
    .menu
        &-list
            li
                padding: 0
                &:not(:last-child)
                    border-right: none
                    
        &-mobile
            display: block
            width: 50px
            height: 50px
            background-color: $text-color-dark
            border-radius: 50%
            box-shadow: 2px 4px 17px rgba(221, 209, 209, 0.4)
            position: fixed
            top: 20px
            left: 20px
            z-index: 9
            span, span:before, span:after
                display: block
                height: 2px
                width: 18px
                position: absolute
                left: 50%
                margin-left: -9px
                background-color: $text-color-light
                top: 50%
                margin-top: -1px
            span:before 
                transition: all 0.2s
                content: ''
                margin-top: -6px
            
            span:after 
                transition: all 0.2s
                content: ''
                margin-top: 4px
            
            &_active
                span
                    background-color: transparent
                    &:before
                        transform: rotate(135deg)
                        margin-top: 0
                    &:after
                        transform: rotate(-135deg)
                        margin-top: 0
        opacity: 0.90
        background-color: $text-color-dark
        position: fixed
        width: 100vw
        height: 100%
        display: block
        z-index: 8
        justify-content: center
        align-items: center
        transition: all 0.5s
        left: -100vw
        &_active
            left: 0
        ul
            display: block
            list-style: none
            padding: 0
            text-align: center
            li
                width: 100%
                margin: 0
                padding: 0
                &:last-child
                    padding-right: 2.8%
            a
                display: block
                line-height: 4
                color: $text-color-light
                width: 100%
                font-weight: 100
                letter-spacing: 2px
                transition: all 0.2s
                z-index: 1
                &:hover
                    background-color: rgba(175, 171, 171, 0.657)
                    text-decoration: none
@media (max-width: 576px)
    .menu
        &-mobile
            top: 12px
            left: 20px