.menu
    background-color: $text-color-dark
    width: 100%
    &-list
        display: flex
        justify-content: center;
        ul
            display: flex
            justify-content: space-between
            padding: 0
            align-items: center
            flex-basis: auto
        li
            list-style-type: none
            margin: 0 2%
            flex-basis: auto
        a
            margin-top: 0
            font-size: 12px
            line-height: 22px
            text-transform: uppercase
            color: $text-color-light
            text-decoration: none
            transition: all 0.2s