.products-text
    
.section-text
    &__title, .title
        padding-bottom: 27px
        span
            color: $btn-bg-color-active
            letter-spacing: 0.3px
    &__subtitle
        text-align: center
        color: $text-color
        font-size: 18px
        font-weight: 400
        letter-spacing: 0.18px


