.production
    padding-top: 87px
    padding-bottom: 90px
    &-text
        min-width: 379px
        &__title
            position: relative
            font-size: 28px
            color: $text-color-light
            background-color: $active-color
            padding-top: 17.5px
            padding-bottom: 17.5px
            margin-bottom: 29px
            margin-left: -4%
            padding-left: 10%
            width: 105%
            z-index: -1
        &__descr
            font-size: 16px
            font-weight: 300
            line-height: 24px
            padding-left: 30px
            text-align: justify
    &-slider
        position: relative
        z-index: 2
        &_top
            margin-bottom: 13px
            height: 377px
            overflow: hidden
            max-width: 620px
            margin-left: auto
            margin-right: 0
        &_bottom
            padding-left: 30px
            padding-right: 30px
            height: 78px
            overflow: hidden
            max-width: 620px
            margin-left: auto
            margin-right: 0
            img
                margin: 0 6px
                outline: none

.d1
    padding: 0
    padding-left: 15px 
.d2
    padding: 0
    padding-right: 15px 