.reviews
    border-bottom: 1px solid $bottom-line-color
.section-text
    &__title, .title
        text-align: center
        color: $text-color
        font-size: 30px
        font-weight: 500
        text-transform: uppercase
        letter-spacing: 0.3px
        padding-top: 99px
        padding-bottom: 94px

.reviews-slider
    &__items
        display: flex
        justify-content: center
        
.reviews-slider
    &__item
        display: flex
        align-items: center
        margin-left: 8%
        margin-right: auto
        padding-bottom: 98px

.reviews-slider
    &__descr
        width: 490px
        height: 124px
        margin-left: 52px
    &__comment
        font-family: "Gotham Pro"
        color: $text-color
        font-size: 18px
        font-weight: 400
        width: 490px
        letter-spacing: 0.36px
        text-align: left
        line-height: 18px
        margin-bottom: 19px
    &__button
        background-color: transparent
        color: $btn-bg-color-rew
        padding: 0
        font-size: 18px
        font-weight: 400
        letter-spacing: 0.18px
        line-height: 22px
        border: none
        border-bottom: 1px solid $btn-bg-color-rew
        font-size: 18px
        &:hover
            color: $btn-bg-color-active
    &__img
        position: relative
.reviews-item
    &__name
        position: absolute
        text-align: center
        color: $text-color
        width: 220px
        top: 50%
        transform: translate(0, -50%)
        font-size: 20px
        font-weight: 500
        font-family: "Gotham Pro Medium"
        letter-spacing: 0.2px
        z-index: 10
        &-city
            color: $text-color
            font-family: "Gotham Pro"
            font-size: 18px
            font-weight: 500
    &__img
        width: 220px
        height: 220px
        border-radius: 50%
        object-fit: none
        opacity: 0.6

.advantages-blocks
    display: flex
    justify-content: space-between
    align-items: center
.advantages-block
    align-items: center
    text-align: center
    width: 27%
.advantages
    &__img
        margin-bottom: 30px
    &__descr
        color: $text-color
        font-size: 20px
        font-weight: 500
        line-height: 25px
        text-transform: uppercase
        margin-bottom: 100px
