*, *:before, *:after
    box-sizing: border-box

body
    background-color: #fff
    font-family: 'Roboto', sans-serif
    
@import '_animate'
@import '_variables'
@import '_main'
@import '_reset'
@import '_interface'
@import '_header'
@import '_modal'
@import '_features'
@import '_products'
@import '_clients'
@import '_media'