@charset "UTF-8";
*, *:before, *:after
    box-sizing: border-box

body
    background-color: #292929
    font-family: 'Gotham Pro'
    
@import '_variables'
@import '_media'
@import '_modal'
@import '_interface'
@import '_header'
@import '_main'
@import '_reviews'
@import '_products'




