@font-face {
	font-family: Gotha Pro lig;
	src: url("../fonts//GothaProLig.otf") format("opentype");
}
@font-face {
	font-family: Gotha Pro Med;
	src: url("../fonts/GothaProMed.otf") format("opentype");
}
@font-face {
	font-family: Gotha Pro Reg;
	src: url("../fonts/GothaProReg.otf") format("opentype");
}