*, *:before, *:after {
  box-sizing: border-box; }

body {
  background-color: #fff;
  font-family: 'Roboto', sans-serif; }

.button {
  font-size: 14px;
  background-color: #ff9d00;
  border: none;
  color: #fff;
  padding: 13px 22px;
  border-radius: 5px; }

img {
  vertical-align: middle; }

.header {
  background-color: #fff; }
  .header-contacts {
    display: flex;
    justify-content: flex-end;
    align-items: center; }
    .header-contacts__phone {
      font-size: 22px;
      margin-right: 13px; }
