*, *:before, *:after {
  box-sizing: border-box; }

body {
  font-family: Tahoma, sans-serif;
  padding: 0;
  margin: 0;
  margin-left: auto;
  margin-right: auto; }

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 77px;
  padding-bottom: 96px;
  margin-bottom: 15px; }
  .header-img {
    margin-right: 75px; }
  .header-text {
    width: 70%;
    max-width: 560px; }
    .header-text__title {
      font-size: 48px;
      font-weight: 700;
      margin-bottom: 15px; }
    .header-text__subtitle {
      font-size: 30px;
      font-weight: 400;
      margin-bottom: 35px; }
    .header-text p {
      font-size: 18px;
      font-weight: 400;
      margin-bottom: 47px; }
    .header-text__price {
      font-size: 48px;
      font-weight: 400;
      margin-bottom: 53px; }

.button {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  width: 175px;
  height: 67px;
  border-radius: 5px;
  background-color: #f05a22;
  border: none;
  margin-right: 40px;
  margin-bottom: 15px; }
  .button-o {
    color: #f05a22;
    font-size: 24px;
    font-weight: 700;
    width: 287px;
    height: 67px;
    border-radius: 5px;
    border: 3px solid #f05a22;
    background-color: transparent; }

.features {
  font-family: Open Sans;
  text-align: center;
  padding-top: 89px;
  padding-bottom: 99px;
  background-color: #f2f2f2; }
  .features-title {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 91px; }
  .features-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    max-width: 1366px;
    margin-left: auto;
    margin-right: auto; }
  .features-img__img {
    min-height: 55px; }
  .features-img__text {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px; }

.cliens {
  padding-top: 89px;
  padding-bottom: 111px;
  max-width: 1366px;
  margin-left: auto;
  margin-right: auto; }
  .cliens-title {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 69px; }
  .cliens-images {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    .cliens-images__img {
      margin-right: 31px;
      margin-bottom: 40px; }
