@charset "UTF-8";
*, *:before, *:after {
  box-sizing: border-box; }

body {
  background-color: #fff;
  font-family: 'Roboto', sans-serif; }

.main {
  position: relative;
  padding-top: 65px;
  padding-bottom: 60px;
  background: #373737 url(../img/main/header-background.jpg) center no-repeat;
  background-size: cover;
  color: #fff;
  z-index: 2; }
  .main::before {
    content: '';
    /* Делаем элемент блочным */
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 0; }
  .main-img {
    position: relative; }
    .main-img::before {
      content: '';
      position: absolute;
      z-index: -1;
      width: 380px;
      height: 380px;
      left: 50%;
      margin-left: -150px;
      border: 1px solid #ffffff;
      border-radius: 50%; }
    .main-img::after {
      content: url(../img/main/icon-2.png);
      position: absolute;
      margin-top: 311px;
      margin-left: -364px; }
  .main-text__title {
    margin-bottom: 22px;
    font-size: 41px;
    font-weight: 700; }
  .main-text__subtitle {
    padding: 27px;
    font-size: 28px;
    font-weight: 300; }
  .main-text__form {
    padding: 30px 27px;
    background-color: rgba(255, 255, 255, 0.2); }

.form {
  display: flex;
  margin-bottom: 12px; }
  .form-title {
    margin-bottom: 20px;
    padding-right: 87px;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px; }
    .form-title__uppertext {
      font-weight: 700;
      text-transform: uppercase;
      display: block; }
  .form__input {
    margin-right: 10px;
    font-size: 14px;
    padding: 20px;
    border-radius: 4px;
    border: none;
    vertical-align: middle;
    flex-basis: 50%; }
  .form-small {
    font-size: 14px;
    font-weight: 300; }

body {
  margin: 0; }

img {
  max-width: 100%; }

input:focus, button:focus {
  outline: none; }

.button {
  font-size: 14px;
  background-color: #ff9d00;
  border: none;
  color: #fff;
  padding: 13px 22px;
  border-radius: 5px; }
  .button_big {
    border-bottom: 19px;
    vertical-align: middle;
    width: 30%; }
  .button:hover {
    background-color: #ffb133;
    cursor: pointer; }

img {
  vertical-align: middle; }

.header {
  padding: 15px 0;
  background-color: #fff; }
  .header-logo {
    background: url(../img/header/header-log.png) center no-repeat;
    background-size: 100%;
    width: 191px;
    height: 61px; }
  .header-contacts {
    display: flex;
    justify-content: flex-end;
    align-items: center; }
    .header-contacts__phone {
      font-size: 22px;
      margin-right: 13px; }
      .header-contacts__phones {
        display: flex; }
      .header-contacts__phone:first-child {
        border-right: 1px solid #cfcfd0;
        padding-right: 13px; }

.overlay {
  position: fixed;
  display: none;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.4); }
  .overlay .popup {
    position: fixed;
    left: 50%;
    top: 100px;
    width: 752px;
    transform: translateX(-50%); }
    .overlay .popup-close {
      position: absolute;
      right: -20px;
      top: -30px;
      font-size: 35px;
      color: #fff;
      font-weight: 300;
      cursor: pointer; }
    .overlay .popup-title {
      display: block;
      width: 100%;
      min-height: 71px;
      margin: 0;
      background-color: #ff9d00;
      color: #fff;
      text-transform: uppercase;
      line-height: 71px;
      font-size: 21px;
      font-weight: 500;
      text-align: center; }
    .overlay .popup-form {
      background: url(../img/modal/modal.png) center no-repeat;
      background-size: cover;
      padding: 35px 88px 50px 88px;
      color: #fff; }
      .overlay .popup-form-header {
        padding: 0;
        font-size: 30px;
        font-weight: 400;
        line-height: 27px;
        text-align: center; }
        .overlay .popup-form-header span {
          font-size: 24px; }
      .overlay .popup-form__label {
        display: block;
        margin-top: 23px;
        font-size: 20px;
        font-weight: 300;
        line-height: 30px; }
      .overlay .popup-form__input {
        width: 365px;
        height: 56px;
        margin-top: 17px;
        border-radius: 5px; }
      .overlay .popup-form__btn {
        width: 180px;
        height: 56px;
        margin-left: 16px;
        font-size: 15px;
        font-weight: 500;
        line-height: 22px;
        background-color: #ff9d00; }
      .overlay .popup-form__note {
        margin-top: 9px;
        font-size: 14px;
        font-weight: 300;
        line-height: 30px;
        font-weight: center; }

@media (max-width: 576px) {
  .hidden-mobile {
    display: none; }
  .header-logo {
    background: #ff9d00 url(../img/header/header-logo-mobile.png);
    width: 35px;
    height: 35px;
    border-radius: 4px; }
  .header-contacts__phone {
    font-size: 14px;
    margin-right: 0;
    border: none; }
    .header-contacts__phones {
      flex-direction: column; }
  .header-contacts__button {
    display: inline-block;
    padding: 9px; }
  .main {
    text-align: center;
    padding-top: 50px; }
    .main-text__title {
      font-size: 22px;
      color: #ff9d00; }
    .main-text__subtitle {
      padding: 0;
      font-size: 18px;
      margin-bottom: 40px; }
    .main-text__form {
      background-color: transparent;
      padding: 10px; }
  .form {
    display: block;
    text-align: center; }
    .form-title {
      padding-right: 0px;
      font-size: 15px;
      line-height: 1.4; }
      .form-title__uppertext {
        margin-top: 19px; }
    .form__input {
      display: block;
      margin-bottom: 15px;
      width: 100%; }
  .button_big {
    width: 180px; }
  .overlay .popup {
    top: 72px;
    width: 275px; }
    .overlay .popup-title {
      font-size: 19px; }
    .overlay .popup-form {
      padding: 20px 25px 50px 25px;
      height: 400px; }
      .overlay .popup-form-header {
        font-size: 22px; }
        .overlay .popup-form-header span {
          display: flex;
          font-size: 17px; }
      .overlay .popup-form__input {
        width: 222px;
        margin-top: 12px;
        margin-bottom: 10px; }
      .overlay .popup-form__btn {
        width: 100%; } }
