*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background-color: #292929;
  font-family: 'Gotham Pro'; }

@media (min-width: 1200px) {
  .container {
    max-width: 1140px; } }

@media (min-width: 992px) {
  .container {
    max-width: 960px; } }

.overlay {
  position: fixed;
  display: none;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.4); }

.popup {
  position: fixed;
  top: 301px;
  left: 50%;
  width: 516px;
  height: 306px;
  background-color: #f8f6f0;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%); }
  .popup::after {
    position: absolute;
    content: url(../img/popup/rose.png);
    top: 0%;
    right: 0%; }
  .popup::before {
    position: absolute;
    content: url(../img/popup/rose-2.png);
    bottom: -1%; }
  .popup-close {
    position: absolute;
    right: -40px;
    top: 5px;
    font-size: 35px;
    color: #fff;
    font-weight: 200;
    cursor: pointer; }
    .popup-close::before {
      content: '';
      position: absolute;
      z-index: -1;
      width: 40px;
      height: 40px;
      right: -9px;
      bottom: -2px;
      border: 1px solid #ffffff;
      border-radius: 50%; }
  .popup-title {
    width: 100%;
    color: #f64f6b;
    font-family: 'Gotham Pro';
    padding-top: 57px;
    padding-left: 58px;
    margin-bottom: 29px;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.24px; }
  .popup-descr {
    color: #1c1c1c;
    font-size: 16px;
    padding-left: 58px;
    padding-right: 58px;
    font-weight: 400;
    letter-spacing: 0.36px;
    text-align: left;
    line-height: 18px; }

.main-slider {
  margin: auto auto; }

.main-slider-block {
  padding-bottom: 67px;
  position: relative; }
  .main-slider-block__img {
    z-index: 0; }
  .main-slider-block img {
    padding-top: 25px;
    margin-left: 26%; }
  .main-slider-block::before {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    margin-left: 78px;
    margin-top: 58px;
    -webkit-box-shadow: 0 0 35px 10px #ffffff;
    box-shadow: 0 0 35px 10px #ffffff;
    z-index: -1; }

.slider-arrow {
  position: absolute;
  top: 0;
  height: 75%;
  width: 13px;
  z-index: 7; }
  .slider-arrow:hover {
    cursor: pointer; }
  .slider-arrow_left {
    left: 0;
    background: url(../img/main/arrow-left.png) center no-repeat; }
    .slider-arrow_left:hover {
      background: url(../img/main/arrow-left_hover.png) center no-repeat; }
  .slider-arrow_right {
    right: 0;
    background: url(../img/main/arrow-right.png) center no-repeat; }
    .slider-arrow_right:hover {
      background: url(../img/main/arrow-right_hover.png) center no-repeat; }

.slider-arrow-reviews {
  position: absolute;
  top: 0;
  height: 70%;
  width: 19px;
  z-index: 7; }
  .slider-arrow-reviews:hover {
    cursor: pointer; }
  .slider-arrow-reviews_left {
    left: 0;
    background: url(../img/reviews/arrow-left_active.png) center no-repeat; }
    .slider-arrow-reviews_left:hover {
      background: url(../img/reviews/arrow-left.png) center no-repeat; }
  .slider-arrow-reviews_right {
    right: 0;
    background: url(../img/reviews/arrow-right_active.png) center no-repeat; }
    .slider-arrow-reviews_right:hover {
      background: url(../img/reviews/arrow-right.png) center no-repeat; }

.dark-bg {
  position: relative;
  z-index: 2; }
  .dark-bg::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1; }

.is-open {
  display: block;
  -webkit-transition: all 2s linear;
  transition: all 2s linear; }

.is-close {
  display: none; }

header {
  padding-top: 54px;
  margin-bottom: 122px; }

.header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  padding: 0; }
  .header-logo::after {
    position: absolute;
    content: url(../img/main/lip-2.png);
    margin-top: 125px;
    margin-left: -150px; }
  .header-logo__img {
    background: url(../img/header/logo.png) center no-repeat;
    background-size: 100%;
    width: 156px;
    height: 40px;
    margin-right: 42px; }
  .header-logo__desc {
    color: #ffffff;
    font-family: "Gotham Pro light";
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.12px;
    line-height: 1.3;
    vertical-align: middle; }
    .header-logo__desc span {
      color: #ff3469;
      font-family: "Gotham Pro Medium";
      font-weight: 500; }

.header-contacts {
  text-align: right;
  padding: 0; }
  .header-contacts::after {
    position: absolute;
    content: url(../img/header/lip.png);
    margin-top: -17%;
    margin-left: -55%; }
  .header-contacts__phone {
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.2px;
    margin-bottom: 6px; }
  .header-contacts__desc {
    color: #ffffff;
    margin-bottom: 11px;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.12px; }
    .header-contacts__desc::after {
      position: absolute;
      content: url(../img/main/lip-3.png);
      margin-top: 330px;
      margin-left: 80px;
      z-index: -1; }
  .header-contacts__button {
    background-color: transparent;
    color: #ff3469;
    padding: 0;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.16px;
    line-height: 22px;
    border: none;
    border-bottom: 1px solid #ff3469; }
    .header-contacts__button:hover {
      color: #ff1844;
      border-bottom: 1px solid #ff1844; }

.main {
  border-bottom: 1px solid #4c4c4c; }

.main-text {
  text-align: center; }
  .main-text__title, .main-text .title {
    display: block;
    color: #ffffff;
    font-size: 34px;
    font-weight: 500;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 0.34px;
    padding-bottom: 33px; }
  .main-text__subtitle, .main-text .subtitle {
    color: #ffffff;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.3;
    text-transform: uppercase;
    font-family: "Gotham Pro Light";
    letter-spacing: 0.18px;
    padding-bottom: 70px; }
    .main-text__subtitle span, .main-text .subtitle span {
      font-family: "Gotham Pro Medium";
      font-weight: 500;
      letter-spacing: 0.18px; }

.main-order {
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .main-order__text {
    display: block;
    color: #ffffff;
    font-size: 19px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.19px;
    padding-bottom: 36px; }
    .main-order__text span {
      font-family: "Gotham Pro Medium";
      font-weight: 500;
      letter-spacing: 0.19px; }
  .main-order__button {
    width: 300px;
    height: 70px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.18px;
    border: 3px solid #ff2e55;
    background-color: #ff2e55;
    margin-bottom: 77px;
    -webkit-transition: 1s linear;
    transition: 1s linear; }
    .main-order__button:hover {
      background-color: #ff1844; }

.main-slider-block__img {
  cursor: pointer; }

.reviews {
  border-bottom: 1px solid #4c4c4c; }

.section-text__title, .section-text .title {
  text-align: center;
  color: #ffffff;
  font-size: 30px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.3px;
  padding-top: 99px;
  padding-bottom: 94px; }

.reviews-slider__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.reviews-slider__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 8%;
  margin-right: auto;
  padding-bottom: 98px; }

.reviews-slider__descr {
  width: 490px;
  height: 124px;
  margin-left: 52px; }

.reviews-slider__comment {
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  width: 490px;
  letter-spacing: 0.36px;
  text-align: left;
  line-height: 18px;
  margin-bottom: 19px; }

.reviews-slider__button {
  background-color: transparent;
  color: #f24841;
  padding: 0;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.18px;
  line-height: 22px;
  border: none;
  border-bottom: 1px solid #f24841;
  font-size: 18px; }
  .reviews-slider__button:hover {
    color: #ff1844;
    border-bottom: 1px solid #ff1844; }

.reviews-slider__img {
  position: relative; }

.reviews-item__name {
  position: absolute;
  text-align: center;
  color: #ffffff;
  width: 220px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  font-size: 20px;
  font-weight: 500;
  font-family: "Gotham Pro Medium";
  letter-spacing: 0.2px;
  z-index: 10; }
  .reviews-item__name-city {
    color: #ffffff;
    font-family: "Gotham Pro";
    font-size: 18px;
    font-weight: 500; }

.reviews-item__img {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  -o-object-fit: none;
  object-fit: none;
  opacity: 0.6; }

.advantages-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.advantages-block {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  width: 27%; }

.advantages__img {
  margin-bottom: 30px; }

.advantages__descr {
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  line-height: 25px;
  text-transform: uppercase;
  margin-bottom: 100px; }

.section-text__title, .section-text .title {
  padding-bottom: 27px; }

.section-text__subspan {
  color: #ff1844;
  letter-spacing: 0.3px; }

.section-text__subtitle {
  text-align: center;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.18px;
  padding-bottom: 77px; }

.product-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-preferred-size: 23%;
  flex-basis: 23%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.product-item {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  width: 210px;
  border: 3px solid #ffffff;
  margin-bottom: 27px; }

.product-view {
  margin-top: 33px; }
  .product-view__img {
    height: 72px;
    margin-bottom: 23px; }
  .product-view__title {
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.2px;
    margin-bottom: 20px; }

.product-choice__text {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.14px;
  margin-bottom: 7px; }

.product-choice__colors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 20px; }

.product-choice__color {
  width: 20px;
  height: 20px;
  cursor: pointer; }

.product-count__text {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.14px;
  margin-bottom: 10px; }

.product-count__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 20px; }

.product-count__span {
  width: 40px;
  height: 40px;
  border: 2px solid #ffffff; }
  .product-count__span span {
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.16px;
    line-height: 36px; }

.product-count__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 39px;
  height: 32px;
  background: transparent;
  font-weight: normal;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: #ffffff;
  border: none; }
  .product-count__button:hover {
    color: #ff1844; }

.product-button {
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.14px;
  width: 140px;
  height: 40px;
  background-color: #f24841;
  border: none;
  margin-bottom: 30px; }
  .product-button:hover {
    background-color: #ff1844; }

.product-openner {
  display: block;
  padding: 0;
  margin-right: auto;
  margin-left: auto;
  background-color: transparent;
  color: #f24841;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.16px;
  line-height: 22px;
  border: none;
  border-bottom: 1px solid #f24841;
  margin-bottom: 64px; }
  .product-openner::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 4px;
    background-image: url(../img/products/fig-1.png);
    z-index: 5;
    margin-left: 51px;
    margin-top: -14px; }
  .product-openner:hover {
    color: #ff1844;
    border-bottom: 1px solid #ff1844; }

.color-1 {
  background-color: #ffffff;
  margin-right: 4%; }

.color-2 {
  background-color: #f7b496;
  margin-right: 4%; }

.color-3 {
  background-color: #ed366e;
  margin-right: 4%; }

.color-4 {
  background-color: #ff0000;
  margin-right: 4%; }

.color-5 {
  background-color: #12129d; }

.order {
  background-color: #1a1a1a; }

.section-text__title {
  line-height: 46px;
  padding-bottom: 0;
  margin-bottom: 45px; }

.section-subtitle__span {
  color: #ffffff;
  border-bottom: 1px solid #ffffff; }

.order-call {
  text-align: center; }
  .order-call__text {
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.14px;
    margin-bottom: 22px; }
  .order-call__phone {
    color: #ffffff;
    font-size: 36px;
    font-weight: 400;
    letter-spacing: 0.36px;
    padding-bottom: 64px; }

.contact {
  margin-top: 52px;
  margin-bottom: 40px; }

.contact-payment__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: left;
  -ms-flex-pack: left;
  justify-content: left;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.18px;
  margin-bottom: 29px;
  text-transform: uppercase;
  cursor: pointer; }

.contact-payment__button:not(:last-child) {
  margin-right: 33px; }

.contact-payment__button {
  border-bottom: 1px solid #ffffff; }

.contact-payment__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: left;
  -ms-flex-pack: left;
  justify-content: left;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.16px; }

.payment-social__text {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.16px;
  margin-right: 20px; }

.payment-social__image {
  cursor: pointer; }
  .payment-social__image:hover {
    background-color: #4680C2; }

.contact-service {
  text-align: right;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.14px; }
  .contact-service__phone {
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0.24px;
    margin-bottom: 11px; }
  .contact-service__descr {
    margin-bottom: 12px; }

.row {
  padding-top: 48px;
  padding-bottom: 44px; }

.footer {
  background-color: #ffffff; }

.footer-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  padding: 0; }
  .footer-logo__img {
    background: url(../img/footer/Flowers_black.png) center no-repeat;
    background-size: 100%;
    width: 156px;
    height: 40px;
    margin-right: 42px; }
  .footer-logo__desc {
    color: #292929;
    font-family: "Gotham Pro light";
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.12px;
    line-height: 1.3;
    vertical-align: middle; }
    .footer-logo__desc span {
      color: #ff3469;
      font-family: "Gotham Pro Medium";
      font-weight: 500; }

.footer-link {
  text-align: right;
  vertical-align: middle;
  line-height: 45px; }
  .footer-link__designer {
    color: #101010;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.12px;
    text-align: right; }
  .footer-link__name {
    text-decoration: underline; }
